.header {
  text-align: center;
  padding-top: 75px;
  font-size: 2.5em;
  color: rgb(233, 245, 244);
}

.main-container {
  height: 100vh;
}

.quiz-container {
  width: 50%;
  margin: 70px auto;
}

.start-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  background-color: rgb(122, 58, 122);
  color:rgb(233, 245, 244);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 3em;
}

.question-container, .result-container, .start-container {
  border-radius: 5px;
  background-color: rgb(71, 138, 118);
}

.question-info {
  padding: 40px;
  position: relative;
}

.options-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.option {
  width: 50%;
}

.option-text {
  background-color: rgb(233, 245, 244);
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  text-align: center;
  margin: 30px auto;
  font-size: 1.5em;
}

.option-text:hover {
  cursor: pointer;
  background-color: rgb(37, 61, 54);
  color:rgb(233, 245, 244);
}

.question {
  text-align: center;
  font-size: 1.75em;
  margin-bottom: 20px;
}

.next-question {
  padding: 10px;
  background-color: rgb(122, 58, 122);
  border-radius: 3px;
  color:rgb(233, 245, 244);
  position: absolute;
  right: 25px;
  bottom: 20px;
  border: none;
}

.next-question:hover, .play-again:hover, .start-button:hover {
  color:rgb(122, 58, 122);
  background-color: rgb(233, 245, 244);
  cursor: pointer;
}

.result-info {
  padding: 40px;
  text-align: center;
}

.play-again {
  border: none;
  padding: 10px;
  background-color: rgb(122, 58, 122);
  border-radius: 3px;
  color:rgb(233, 245, 244);
}